doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    title App
    meta(name='description', content='')
    link(rel='stylesheet' href='css/style.css')
  body(class='app')
    header(class='header')
      h1 Площади фигур

    main(class='main')

      form(class='main__square main__form')
        h2 Квадрат
        input(class='main__form-input' id='main__square-side' type='number' required placeholder='Сторона квадрата')
        input(type='button' class='main__form-button main__square-button' value='Результат')
        input(class='main__form-result' id='main__square-result' disabled)

      form(class='main__rectangle main__form')
        h2 Прямоугольник
        input(class='main__form-input' id='main__rectangle-weight' type='number' required placeholder='Ширина прямоугольника')
        input(class='main__form-input' id='main__rectangle-height' type='number' required placeholder='Высота прямоугольника')
        input(type='button' class='main__form-button main__rectangle-button' value='Результат')
        input(class='main__form-result' id='main__rectangle-result' disabled)

      form(class='main__triangle main__form')
        h2 Треугольник
        input(class='main__form-input' id='main__triangle-side-1' type='number' required placeholder='Сторона треугольника')
        input(class='main__form-input' id='main__triangle-side-2' type='number' required placeholder='Сторона треугольника')
        input(class='main__form-input' id='main__triangle-side-3' type='number' required placeholder='Сторона треугольника')
        input(type='button' class='main__form-button main__triangle-button' value='Результат')
        input(class='main__form-result' id='main__triangle-result' disabled)

      form(class='main__circle main__form')
        h2 Круг
        input(class='main__form-input' id='main__circle-radius' type='number' required placeholder='Сторона круга')
        input(type='button' class='main__form-button main__circle-button' value='Результат')
        input(class='main__form-result' id='main__circle-result' disabled)

    footer(class='footer')
      a(class='footer__info' href='https://github.com/azat-io/shri-msk-2016-infrastructure') Исходный код
    script(src='js/main.js')
